name: Release

on:
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    permissions:
      contents: write
      issues: write
      pull-requests: write

    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version-file: .node-version
          cache: npm

      - name: Install Dependencies
        run: npm ci

      - name:
          Verify the integrity of provenance attestations and registry
          signatures for installed dependencies
        run: npm audit signatures

      - name: Build
        run: npm run package

      - name: Install semantic-release and plugins
        run:
          'npm install -g semantic-release @semantic-release/changelog
          @semantic-release/commit-analyzer @semantic-release/exec
          @semantic-release/git @semantic-release/github
          @semantic-release/release-notes-generator
          conventional-changelog-conventionalcommits'

      - name: Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: npx semantic-release
